@import '../../assets/scss/colors';
@import '../../assets/scss/mixins';

.about {
    .title {
        margin-bottom: 50px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &_team {
        background-color: $grey;
        color: $middleLightBlue;
        @include small-container;

        &_content {
            display: flex;
            justify-content: space-evenly;
            margin-top: 3rem;
        }

        &_member {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 70px 30px;
            max-width: 350px;
            background-color: white;
            box-sizing: border-box;

            @media (max-width: 767px) {
                padding: 40px 15px;
            }


            img {
                width: 75%;
                border-radius: 50%;
                margin-bottom: 3rem;
            }

            h5 {
                color: $darkBlue;
                font-size: 30px;
                margin: 0 0 0.5rem;
                font-weight: 500;
                line-height: 1;
            }

            p {
                margin: 0;
            }
        }
    }

    &_divider {
        background-color: $darkBlue;
        height: 480px;

        @media (max-width: 767px) {
            height: 21em;
        }
    }

    &_services {
        background-color: white;
        margin-bottom: -270px;
        padding: 10rem 10% 0;

        @media (max-width: 767px) {
            padding: 15vw 5vw 0;
        }

        &_card {
            cursor: pointer;
            background-color: $darkBlue;
            width: 90%;
            max-width: 380px;
            position: relative;

            @media (max-width: 1000px) {
                margin-bottom: 1rem;
            }

            img {
                width: 100%;
                z-index: 5;

                &.hovered {
                    opacity: 0.6;
                }
            }

            h3 {
                color: white;
                font-size: 30px;
                font-weight: 500;
                word-break: break-word;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 0;
                text-align: center;
                margin: 30px auto;
            }
        }
    }

    &_gallery {
        @include small-container;

        &_content {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            img {
                width: 33%;
            }
        }
    }
}