$dark: #072c40fa;
$darkBlue: #0d425e;
$middleDarkBlue: #11587d;
$middleLightBlue: #4c778d;
$lightBlue: #598aa4;
$blueButton: #2394fd;
$grey: #eef3f5;
$darkGrey: #e1e1e1;

$primaryColor: #FBB13D;
$darkPrimaryColor: #fbb23dc0;