.roundButton {
    box-sizing: border-box;
    background-color: #eef3f5;
    border-radius: 30px;
    color: #062637;
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
    padding: 9px 50px 8px 25px;
    position: relative;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    cursor: pointer;

    &:hover {
        color: #fff;

        &:after {
            width: 100%;
        }
    }

    &:before {
        content: '';
        background-color: #2394fd;
        border-radius: 50%;
        background-image: url('../../../assets/svg/play.svg');
        background-repeat: no-repeat;
        background-position: center center;
        height: 38px;
        position: absolute;
        right: 0;
        top: 0px;
        width: 38px;
        z-index: 1;
    }

    &:after {
        background-color: #2394fd;
        border-radius: 35px;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .3s ease-in-out;
        width: 0;
        z-index: -1;
    }
}