@import '../../assets/scss/colors';

.advantages {
    position: relative;
    padding: 10rem 56% 10rem 10%;

    @media (max-width: 767px) {
        padding: 15vw 5vw;
    }

    &:before {
        content: '';
        position: absolute;
        background-image: url('../../assets/img/about_background.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
        @media (max-width: 767px) {
            opacity: 0.6;
        }
    }


    .icon_boxes {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        &_box {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media (max-width: 767px) {
                align-items: center;
            }

            img {
                width: 60px;
            }

            p {
                color: $lightBlue;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
            }
        }
    }
}