@import '../../assets/scss/mixins';

.contact {
    display: flex;
    flex-direction: column;

    &_content {
        display: flex;
        justify-content: space-around;
        @include small-container;

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
}