@import '../../assets/scss/colors';

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 320px;
    width: 90%;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        margin-right: 0;
    }

    &_content {
        height: 100%;
        padding: 50px 45px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @media (max-width: 1150px) {
            padding: 40px 35px;
        }

        h3 {
            font-size: 30px;
            margin-top: .25rem;
            margin-bottom: 0.4em;
            color: $darkBlue;
            line-height: 1;

            @media (max-width: 992px){
                font-size: 1.5rem;
            }
        }

        p {
            color: $lightBlue;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
        }
    }

    img {
        max-height: 200px;
    }
}