.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    // margin-right: 1rem;
    width: 320px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
        margin-right: 0;
    }

    &_heaing {
        padding-left: 25px;
        padding-right: 25px;

        @media (max-width: 1150px) {
            padding: 0;
        }
    }

    &_content {
        padding: 50px 45px;
        
        @media (max-width: 1150px) {
            padding: 40px 35px;
        }

        h3 {
            font-size: 30px;
            margin-top: .25rem;
            margin-bottom: 0.4em;

            @media (max-width: 992px){
                font-size: 1.5rem;
            }
        }

        p:last-child {
            color: #598aa4;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
        }
    }

    img {
        width: 100%;
    }
}