@import '../../assets/scss/colors';

.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: $dark;
    text-align: right;
    visibility: visible;
    transition: all 0.3s;
    
    &_logo {
        padding: 3px 20px 0;
        width: 45px;
        height: 45px;
    }
}