@import '../../assets/scss/colors';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1002;
    padding: 0 1rem;
    background-color: $dark;
    transition: 0.5s ease-in-out;
    box-shadow: 0 2px 15px 0 rgba(100, 100, 100, 0.0);
    box-sizing: border-box;
    width: 100vw;

    @media (min-width: 992px) {
        padding: 0 5rem;
    }

    &.text_light {
        &.header .navigation > li, &.header .country_selector {
            color: white;
        }
    }

    &_light {
        background-color: #072c4050;

        &.header .navigation > li, &.header .country_selector {
            color: black;
            transition: 0.5s ease-in-out;
        }
    }

    &_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        @media (min-width: 992px) {
            width: 5%;
        }
    }
    
    &_logo {
        width: 65px;
        height: 65px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            cursor: pointer;

            &:active {
                color: $primaryColor;
            }
        }
    }

    .navigation {
        justify-content: space-around;
        list-style: none;
        width: 60%;
        text-transform: uppercase;
        height: 70px;
        display: none;

        @media (min-width: 992px) {
            display: flex;
        }

        > li {
            height: 100%;
            color: white;

            span {
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 18px;

                &:active, &:hover, &.selected {
                    color: $primaryColor;
                }
            }
        }

        .program span img {
            display: none;
        }

        .program:hover .navigation_secondLevel {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &_secondLevel {
            position: absolute;
            display: none;
            width: 10%;
            background-color: #fff;
            border-top: 4px solid $darkBlue;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: .5rem;
            color: black;

            li {
                padding-bottom: 8px;
            }
        }
    }

    .country_selector {
        width: 100px;
        position: relative;
        height: 70px;
        color: white;
        display: none;
        
        @media (min-width: 992px) {
            display: block;  
        }

        > li {
            height: 100%;

            span {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        &__hidden {
            display: none;
        }

        &:hover ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        ul {
            display: none;
            position: absolute;
            width: 100%;
            background-color: #fff;
            border-top: 4px solid $darkBlue;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: .5rem;
            color: black;

            li {
                padding-bottom: 8px;

                img {
                    margin-right: 5px;
                    width: 18px;
                    height: 18px;
                }
            }
        }

        span {
            display: flex;
            align-items: center;

            img {
                margin-right: 5px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .hamburger {
        display: block;

        @media (min-width: 992px) {
            display: none;
        }
    }
}

.header.open {
    height: 100vh;
    padding: 0;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    transition: height .5s;

    .header {
        &_main {
            background-color: $dark;

            img {
                margin-left: 1rem;
            }

            .menuToggle {
                margin-right: 1rem;
            }
        }
    }

    .navigation {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 1rem 2rem;
        transition: 0.5s ease-in-out;

        .program {
            span {
                display: flex;
                justify-content: space-between;

                img {
                    display: block;
                    transform: rotate(-90deg);
                    transition: 0.5s ease-in-out;
                }
            }

            &:active, &:hover {
                color: $primaryColor;

                span img {
                    transform: rotate(0);
                }
            }
        }

        > li {
            color: black;
            margin-bottom: 10px;
            height: auto;
        }

        span {
            height: auto;
        }

        &_secondLevel {
            position: relative;
            width: 100%;
            border-top: none;
            border-left: 4px solid $darkBlue;
            box-shadow: none;
            margin-top: 10px;
            padding: 0 .5rem;
        }
    }

    .country_selector {
        display: flex;
        align-items: center;
        color: black;
        width: 90%;
        height: auto;
        border-top: 4px solid $darkBlue;
        position: absolute;
        bottom: 10px;

        > li, span {
            height: auto;
        }

        span {
            padding: 2rem 0;
        }

        ul {
            position: relative;
            width: 100%;
            border-top: none;
            box-shadow: none;
            padding: 0 .5rem;
        }
    }
}

.menuToggle {
    width: 40px;
    height: 40px;
    position:relative;
    cursor:pointer;
    border-radius:5px;
    display: block;

    @media (min-width: 992px) {
        display: none;
    }

    span {
        display:block;
        border-radius:2px;
        background-color: white;
        transition:.25s ease-in-out;
    }

    .hamburger {
      position:absolute;
      height:100%;
      width:100%;
      

        span {
            width: 40px;
            height: 3px;
            top: 24px;
            left: 20px;
            margin: 8px 0;
            

            &:nth-child(1){
                transition-delay:.5s;
            }

            &:nth-child(2){
                transition-delay:.625s;
            }
            
            &:nth-child(3){
                transition-delay:.75s;
            }
        }
    }

    .cross {
        position:absolute;
        height:100%;
        width:100%;
        transform:rotate(45deg);
        

            span {
                &:nth-child(1){
                    height:0%;
                    width:3px;
                    position:absolute;
                    top:10%;
                    left:19px;
                    transition-delay:0s;
                }

                &:nth-child(2){
                    width:0%;
                    height:3px;
                    position:absolute;
                    left:10%;
                    top:19px;
                    transition-delay:.25s;
                }
            }
        }
  }
  
  .menuToggle.open {
    .hamburger {
        span {
            width:0%;
            &:nth-child(1){
                transition-delay:0s;
            }
            &:nth-child(2){
                transition-delay:.125s;
            }
            &:nth-child(3){
                transition-delay:.25s;
            }
        }
    }
    .cross {
        span {
            &:nth-child(1){
                height:80%;
                transition-delay:.625s;
            }
        }
        span {
            &:nth-child(2){
                width:80%;
                transition-delay:.375s;
            }
        }    
    }
  }