@import '../../../assets/scss/colors';

.pricingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between !important;
    width: 92%;
    margin: 0 auto;
    padding: 50px 40px 35px;
    box-sizing: border-box;
    background-color: $grey;
    z-index: 0;
    position: relative;
    
    @media (max-width: 767px) {
        padding: 25px 15px 20px;
    }

    hr {
        position: absolute;
        top: 0;
        width: 100%;
        height: 4px;
        margin: 0;
        border: none;
    }

    h2 {
        margin: 0;
    }
    
    ul {
        margin-bottom: 15px;
        padding: 0;
        list-style: none;
        overflow: hidden;
        color: $lightBlue;
        font-weight: 300;
        line-height: 1.5;
        width: 100%;
        text-align: center;

        li {
            padding-top: 10px;
            padding-bottom: 10px;

            &:not(:last-child) {
                border-bottom: 1px solid $darkGrey;
            }
        }
    }

    &_button {
        margin: 0;
        border-color: $darkBlue;
        color: white;
        height: auto !important;

        &:hover {
            color: $darkBlue;
            font-weight: 600;
        }

        &::before {
            background-color: $darkBlue;
        }
    }
}

.priceWrap {
    margin-bottom: 10px;
    height: auto !important;
    overflow: visible !important;

    &_sign {
        font-size: 20px;
        transform: translate(-5px,8px);
    }

    &_price {
        font-size: 50px;
        font-weight: 400;
    }
}