@import '../../../assets/scss/colors';

.borderText {
    text-align: left;

    @media (min-width: 768px) {
        border-left: 2px solid $primaryColor;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-top: 10px;
        font-weight: 300;
    }

    p {
        margin: 0;

        &:first-child {
            margin-bottom: 1.2em;
        }
    }
}