@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;600&family=Poppins:wght@200;300;400;600&display=swap');
@import './assets/scss/colors';

@font-face {
    font-family: 'pirulen';
    src: url('./assets/fonts/pirulen.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
	// font-family: 'pirulen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #fff;
    background-color: $primaryColor;
}

:focus {
    outline: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.App {
    text-align: center;
}

.text {
    font-family: 'Poppins', sans-serif;
    color: $darkBlue;
}

.title {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: $darkBlue;
}

.pnlm-about-msg {
    display: none !important;
}

.pnlm-controls-container {
    bottom: 20px !important;
    right: 20px !important;
	top: unset !important;
    left: unset !important;
}